* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

form {
  margin-bottom: 11px;
  position: sticky;
  top: 0;
  background-color: whitesmoke;
  padding: 19px;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  padding: 9px 33px;
  cursor: pointer;
}

.right,
.left {
  border: none;
}

input {
  height: 38px;
  width: 300px;
  padding: 11px;
  font-size: 1.2em;
  outline: none;
}

.direction {
  position: fixed;
  height: 150px;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.5);
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000;
  font-size: 2rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.direction:hover {
  opacity: 0.8;
}

.right {
  right: 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.left {
  left: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.container {
  height: 90vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  text-align: center;
}

img {
  height: 300px;
  width: 450px;
  object-fit: cover;
}

.pic {
  position: relative;
  transition: 0.1s ease;
}

h1 {
  position: absolute;
  bottom: 9px;
  left: 11px;
  color: white;
  font-size: 1.1rem;
  text-decoration: underline;
}

.pic:hover {
  transform: scale(1.01);
  opacity: 0.8;
}

@media (max-width: 1800px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }
  img{
    width: 33vw;
  }
}

@media (max-width: 1700px) {
  .container {
    grid-template-columns: repeat(2, 2fr);
  }
  img{
  width: 50vw;
  height: 50vh;
  }
}

@media (max-width: 900px) {
  .container {
    display: flex;
    flex-direction: column;
  }
  img{
    width: 100vw;
    height: 90vh;

  }
}
